# to change language of repo
# *.css linguist-detectable=true
# *.js linguist-detectable=true
# *.html linguist-detectable=true
# *.php linguist-detectable=true

frontend/styles/main.css linguist-language=HTML
