# 1 Month for most static assets
<filesMatch ".(jpg|jpeg|png|gif|ico|webp)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>


RewriteEngine On

# Enforce HTTPS (only if you have a SSL cert installed)
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Server files from /frontend directory except when requesting index file
RewriteCond %{REQUEST_URI} !(frontend/|api/|^$)
RewriteRule (.*) /frontend/$1 [L]

# Append file extension to request
RewriteCond %{REQUEST_URI} !^/frontend/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Set alternative pages
DirectoryIndex /frontend/index.html
ErrorDocument 404 /frontend/missing.html