@import url('./main.css');

main::before{
	background: url('./dots.svg') no-repeat;
	position: absolute;
	left: 20%;
	display: block;
	height: 256px;
	width: 317px;
	content: '';
}
.inputContainer{
	position: relative;
	display: inline-block;
	width: 300px;
	margin-bottom: 1rem;
	padding: 2rem 0 1rem;
	transition: all 150ms cubic-bezier(.4,0,.2,1);
}
.inputContainer input.default{
	font-family: sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .009375em;
	text-decoration: inherit;
	text-transform: inherit;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: .66rem .5rem .5rem;
	border: none;
	border-bottom: 2px solid #eee;
	background: #fbfeff;
	box-shadow:
		0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	letter-spacing: 1px;
	z-index: 5;
	margin: 0px auto;
}
.inputContainer input.default:focus{
	outline: none;
}
.inputContainer input.default + label{
	position: absolute;
	top: 0px;
	left: 0px;
	font-weight: 700;
}
.inputContainer input.default ~ .border{
	position: absolute;
	bottom: 1rem;
	left: 0px;
	height: 2px;
	width: 0px;
	content: '';
	background-color: #808080;
	transition: inherit;
}
.inputContainer input.default.error ~ .border{
	background-color: #ee6c62;
}
.inputContainer input.default:focus ~ .border{
	width: 100%;
}
form input[type=submit]{
	display: block;
	width: 150px;
	margin: 2rem 0 4rem;
	padding: .75rem;
	background-color: #fbfcff;
	color: #33353b;
	border: none;
	font-size: 1.1rem;
	font-weight: 700;
	border-radius: 8px;
	box-shadow:
	0px 2px 1px -1px rgba(0, 0, 0, 0.2),
	0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
		cursor: pointer;
	outline: inherit;
	transition: all 150ms cubic-bezier(.4,0,.2,1);
}
form input[type=submit]:hover, form input[type=submit]:focus{
	box-shadow:
		0px 3px 3px -2px rgba(0, 0, 0, 0.2),
		0px 3px 4px 0px rgba(0, 0, 0, 0.14),
		0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}